{% extends "base.html" %}

{% block title %} Cars4Sale {% endblock %}

{% block style %} <link rel="stylesheet" href="static/homepage.css"> {% endblock %}

{% block body %} 
<div class ='container'> <!--Total container-->
    <form method="POST">
        
        <!--Intro-->         
        <div class='intro'>
            <h1> Find your destination, &NewLine; &Tab; starting from here </h1>

            <!--Search-->
            <div class='search'>
                <input class='searchBar' id="search" name="search" placeholder="Search by Model/Type/Brand"></input>                     
            </div> <!--Search-->

        </div> <!--Intro-->

    </form>

    <div class='carousel'>
        <div class='carouselItem fade'>
            <div class='carouselContent'>
                <span class='carouselHeader'>
                    Why Us?
                </span>
                <span class='carouselText'> 
                    <ul>
                        <li> Inventory data gathered from everywhere </li>
                        <li> Quick and easy access to all dealers/sellers </li>
                        <li> Precise and useful filtering and bookmarking functions </li>
                    </ul>
                </span>
                <img src='static/slide1img.png'/>
            </div>
        </div>
        <div class='carouselItem fade'>
            <div class='carouselContent'>
                <span class='carouselHeader'>
                    Automatic and instant details
                </span>
                <span class='carouselText'>
                    <ul>
                        <li> Our data is collected instantaneously, and is constantly updated for your buying pleasure </li>
                        <li> Gain instant descriptions and pictures of each deal </li>
                    </ul>
                </span>
                <img src='static/slide2img.jpg'/>
            </div>
        </div>
        <div class='carouselItem fade'>
            <div class='carouselContent'>
                <span class='carouselHeader'>
                    All around the world
                </span>
                <span class='carouselText'>
                    <ul>
                        <li> Enjoy finding your next deal from locations all over the world </li>
                        <li> Every region, every city </li>
                    </ul>
                </span>
                <img src='static/slide3img.png'/>
            </div>
        </div>

        <a class='prev' onclick='moveSlide(-1)'>&#10094;</a>
        <a class='next' onclick='moveSlide(1)'>&#10095;</a>
    </div>

    
</div>
{% endblock %}

{% block scripts %} 
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function moveSlide(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("carouselItem");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "flex";
    }
</script>
{% endblock %}