{% extends "base.html" %}

{% block title %} Cars4Sale {% endblock %}

{% block style %} <link rel="stylesheet" href="static/homepage.css"> {% endblock %}

{% block body %} 
<div class ='container'> <!--Total container-->
    <form method="POST">
        
        <!--Intro-->         
        <div class='intro'>
            <h1> Create your story, &NewLine; &Tab; starting from here </h1>

            <!--Search-->
            <div class='search'>
                <input class='searchBar' id="search" name="search" placeholder="Search by Model/Type/Brand"></input>                     
            </div> <!--Search-->

        </div> <!--Intro-->

    </form>
<div class = 'container'>
{% endblock %}