{% extends "base.html" %}

{% block title %}
Cars4Sale - Log In
{% endblock %}

{% block style %}
<link rel="stylesheet" href="static/auth.css">
{% endblock %}

{% block body %}
    <form method="POST">
        <div class="form-container">
            <div class="form-inputs">
                <h1 id='loginh1'> Welcome Back </h1>
                <input type="email" id="email" name="email" placeholder="Email"></input>
                <input type="password" id="pw" name="pw" placeholder="Password"></input>
                <label> Don't have an account? <a href='/register'> &nbsp; Sign up here! </a></label>
                <button type="submit" value="Login">LOGIN</button>
            </div>
            <img src="static/authimage2.jpg">
        </div>
    </form>

{% endblock %}