{% extends "base.html" %}

{% block title %}
Cars4Sale - Register
{% endblock %}

{% block style %}
<link rel="stylesheet" href="static/auth.css">
{% endblock %}

{% block body %}
    <form method="POST">
        <div class="form-container">
            <div class="form-inputs">
                <h1 id='registerh1'> Start Your Journey </h1>
                <input type="text" id="username" name="username" placeholder="Username"></input>
                <input type="email" id="email" name="email" placeholder="Email"></input>
                <input type="password" id="pw" name="pw" placeholder="Password"></input>
                <input type="password" id="confpw" name="confpw" placeholder="Re-enter Password"></input>
                <label> Already have an account? <a href='/login'> &nbsp; Sign In </a> </label>
                <button type="submit" value="Submit">CREATE ACCOUNT</button>
            </div>
            <img src="static/authimage.jpg" alt='green driving'>
        </div>
    </form>
{% endblock %}