{% extends "base.html" %}

{% block title %}
Cars4Sale - Log In
{% endblock %}

{% block body %}
    <form method="POST">
        <p> 
            <h2 align="center"> Log In: </h2> 
        </p>
        <p>
            <div class="form">
                <p>
                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email"></input>
                </p>
                <p>
                    <label for="pw">Password:</label>
                    <input type="password" id="pw" name="pw" placeholder="Enter Password"></input>
                </p>
                <p>
                    <button type="submit" value="Login">Login</button>
                </p>
            </div>
    </form>

{% endblock %}