body {
    background-image: url('authbodybackground.jpg');
}

.form-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 1200px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -300px;
    overflow: hidden;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.form-container img {
    border-left: 4px solid rgb(43, 158, 158);
    opacity: 70%;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

#registerh1 {
    position: absolute;
    font-family: 'Open Sans';
    top: 20px;
    left: 135px;
    color: rgb(235, 235, 235);
}

#loginh1 {
    position: absolute;
    font-family: 'Open Sans';
    font-size: 40px;
    top: 70px;
    left: 140px;
    color: rgb(235, 235, 235);
}

.form-inputs input {
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 8px 10px 0px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    top: 0px;
    left: 75px;
    margin: 20px 0;
    padding: 12px 50px 12px;
    width: 300px;
    font-size: 14px;
}

#username {
    background: url(/static/usernameicon.png) 2% no-repeat#ffffff;
    background-size: 25px;
    font-family: 'Open Sans';
}

#email {
    background: url(/static/emailicon.png) 2% no-repeat#ffffff;
    background-size: 25px;
    font-family: 'Open Sans';
}

#pw {
    background: url(/static/pwicon.png) 2% no-repeat#ffffff;
    background-size: 25px;
    font-family: 'Open Sans';
}

#confpw {
    background: url(/static/confpwicon.png) 2% no-repeat#ffffff;
    background-size: 25px;
    font-family: 'Open Sans';
}

.form-inputs button {
    position: relative;
    background: rgba(85, 85, 85, 0.7);
    top: 60px;
    left: 170px;
    width: 200px;
    padding: 13px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 8px 16px 1px rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.form-inputs button:hover {
    box-shadow: 0 0 20px 1px rgb(0, 255, 85);
}

.form-inputs label {
    position: relative;
    top: 25px;
    left: -25px;
    color:rgb(214, 214, 214);
    font-family: 'Open Sans';
    font-size: 14px;
}

.form-inputs a {
    text-decoration: none;
    color:rgb(157, 255, 148);
}

::placeholder {
    color: rgb(112, 112, 112);
}