body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgba(240, 255, 255);
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6vh;
    overflow: hidden;
    background-color: #2e2e2ee0;
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.35);
    z-index: 2;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 13%;
    width: 16vw;
    height: 6vh;
}

.logoText {
    position: relative;
    top: 1vh;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 2vw;
}

.logoText a {
    color: #92e9a5;
    text-decoration: none;
}

#logoImg {
    position: relative;
    height: 3vh;
    width: 4vw;
    top: 27%;
    padding: 0;    
}

.ref {
    position: absolute;
    top: 0;
    width: 40vh;
    height: 6vh;
    right: 15%;
}

.sitenav {
    position: absolute;
    width: 10vw;
    height: 6vh;
    left: 15%;
    top: 0;
    display: flex;
    flex-direction: row;
}

.navbarItem {
    position: relative;
    height: 6vh;
    width: 5vw;
    transition: background-color 0.2s ease-in-out;
}

.navbarItem a {
    display: flex;
    text-decoration: none;
    height: 6vh;
    width: 5vw;
    color: white;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

.navbarItem:hover {
    background-color: #80c22a;
    text-decoration: underline;
}

.navbar label {
    position: relative;
    top: 1vh;
    left: 70%;
    color: white;
    font-size: 30px;
}

.authnav {
    position: absolute;
    right: 12%;
    top: 24%;
    width: 2vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.authnav button {
    position: absolute;
    background-image: url(/static/usernavicon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent;
    top: 0;
    width: 2vw;
    height: 4vh;
    border: 0;
    cursor: pointer;
}

.authnav:hover .authDropdown {
    visibility: visible;
}

.authnav:focus-within .authDropdown {
    visibility: visible;
}

.authDropdown {
    display: black;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    width: 10vw;
    z-index: 1;
    left: 0;
    top: 4vh;
    border-radius: 20px;
    padding: 18px 0;
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
    font-family: Montserrat;
}

.authDropdown a {
    color: black;
    padding: 12px 24px 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.authDropdown a:hover {
    background-color: rgb(248, 248, 248);
}

.flash {
    position: absolute;
    margin: 10px 20px;
    padding: 10px 30px 10px 10px;
    text-align: center;
    z-index: 1;
    font-family: 'Lato';
    font-size: 1em;
}

.success {
    background-color: #d0ffbe;
    border-left: 2px solid #98ce82;
}

.error {
    background-color: #ffafaf;
    border-left: 2px solid #ff6d6d;
}

.message {
    background-color: #feffdc;
    border-left: 2px solid #fffc3b;
}

.close {
    position: absolute;
    right: 0%;
    top: 17%;
    font-size: 22px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.close:hover {
    cursor: pointer;
}