.header {
    border: 5px inset rgb(174, 255, 181);
    border-radius: 20px;
    text-align: center;
    width: 500px;
    height: 80px;
    margin: 20px auto;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.intro {
    position: absolute;
    top: 59px; left: 0;
    width: 100%;
    height: 65%;
}

.intro::before {
    content: "";
    position: absolute;
    top: 0px; left: 0;
    background-image: url('homepagemain.jpg');
    background-position: center;
    filter: brightness(70%);
    width: 100%; height: 100%;
    z-index: -1;
}

.search {
    position: relative;
    text-align: center;
    top: 40%;
}

.searchBar {
    padding: 8px 12px 8px 35px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    caret-color: #548119;
    background: url(/static/searchbaricon.png) left no-repeat#ffffff;
    background-size: 20px;
    background-position: 2%;
    
    border: 3px solid #caffd3;
    border-radius: 30px;
    height: 40px;
    width: 30%;
    text-align: center;
}

.intro h1 {
    margin: 0;
    position: relative;
    left: 640px;
    top: 30%;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: rgb(255, 255, 255);
    white-space:pre-wrap;
    line-height: 140%;
}