#searchDetails {
    position: relative;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 370px;
    top: 75px;
}

.filters {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 2000px;
    left: 0; top: 0;
    border: 2px solid black;
    background-color: #aaaaaa;
}

.search {
    height: 75px;
}

#searchBar {
    position: relative;
    padding: 8px 12px 8px 35px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    caret-color: #548119;
    background: url(/static/searchbaricon.png) left no-repeat#ffffff;
    background-size: 20px;
    background-position: 2%;
    
    border: 3px solid #caffd3;
    border-radius: 30px;

    top: 10px;
    left: 20px;
    height: 25px;
    width: 250px;
    text-align: center;
}

.allFilters {
    position: relative;
    display: flex;
    flex-direction: column;
}

.allFilters span {
    margin-bottom: 10px;
}

.results {
    position: absolute;
    left: 360px;
    top: 150px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}